{% load static %}
<html>
    <head>
        <title>Singh's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class = "page-header">
            <h1><a href="/">Singh's Blog</a></h1>

            <img src = "s.jpg" alt="">

        </div>

        <div class = "navbar">
            <ul>
                <li><a href = "http://127.0.0.1:8000/">Home</a></li>
                <li><a href = "">About</a></li>
                <li><a href = "http://127.0.0.1:8000/admin/">Login</a></li>
                <li><a href = "">Resources</a></li>
                <li><a href = "">Contact</a></li>

            </ul>
        </div>
        
        
        <div class = "post">
            {% block content %}
            {% endblock %}
            
        </div>

        <div class = "footer">
            <ul>
                <li><a href = "">About Singh's Blog</a></li>
                <li><a href = "">Help</a></li>
                <li><a href = "">Contact us</a></li>
                <li><a href = "">Resources</a></li>

            </ul>


            &copy: 2020 yagamilyte.pythonanywhere.com All Rights Reserved
        </div>
                
    </body>
</html>