<html>
    <head>
        <title>YAGAMI'S BLOG</title>
    </head>

    <body> 
        <div>
            <h1><a href = "/">YAGAMI'S BLOG</a></h1>
        </div>

        <br>
        <br>
        <br>
        <div>
            <p>published: 14.06.2020 , 11:27</p>
            <h2><a href = "">MY FIRST POST</a></h2>
            <p>For developing a Django project, no special tools are necessary, since the source code can be edited with any conventional text editor. Nevertheless, editors specialized on computer programming can help increase the productivity of development, e.g., with features such as syntax highlighting. Since Django is written in Python, text editors which are aware of Python syntax are beneficial in this regard. 
                Integrated development environments (IDE) add further functionality, such as debugging, refactoring, and unit testing. As with plain editors, IDEs with support for Python can be beneficial. Some IDEs that are specialized on Python additionally have integrated support for Django projects, so that using such an IDE when developing a Django project can help further increase productivity. For comparison of such Python IDEs, see the main article: 
                Main article: Comparison of integrated development environments § Python</p>

        </div>

        <br><br><br>

        <div>
            <p>published:14.06.2020 , 11:29</p>
            <h2><a href = "">MY SECOND POST</a></h2>
            <p>Notice how the browser has understood that "Ola's blog" is the title of your page? It has interpreted <title>Ola's blog</title> and placed the text in the title bar of your browser (it will also be used for bookmarks and so on).
                Probably you have also noticed that each opening tag is matched by a closing tag, with a /, and that elements are nested (i.e. you can't close a particular tag until all the ones that were inside it have been closed too).
                It's like putting things into boxes. You have one big box, <html></html>; inside it there is <body></body>, and that contains still smaller boxes: <p></p>.
                You need to follow these rules of closing tags, and of nesting elements – if you don't, the browser may not be able to interpret them properly and your page will display incorrectly.</p>
        </div>


    </body>


</html>
